div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
h1 {
  margin-left: 250px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  background-color: blue;
  color: aliceblue;
  border: none;
  margin: auto;
}
button:hover {
  text-decoration: none;
  opacity: 0.8;
}
button:active {
  text-decoration: none;
  opacity: 0.6;
}
